.dark-gray-testimonials{
	background: #777777 !important;
	padding: 30px !important;
}

.dark-gray-testimonials p{
	color: #fff;
	letter-spacing: 0.05em;
	font-weight: 200;
	
	
}

.dark-gray-testimonials hr{
	border-color: #d3cdcd;
	width: 8%;
	margin-top: 5px;
	margin-bottom: 30px;
}

#more-testimonials{
	text-transform: uppercase;
	font-weight: 600;
	color: #fff;
	font-size: 16px;

}

.dark-gray-testimonials i{
	color: inherit;
}