
.metaslider .caption-wrap {
    position: absolute;
    bottom: 25% !important;
    left: 0;
    color: white;
    opacity: 1 !important;;
    margin: 0;
    display: block;
    line-height: 1.4em;
}



.flex-control-nav {
    bottom: 20px !important;
    line-height: 11px;
    z-index: 200000;
}


.flex-control-paging li a.flex-active {
    background: #fff !important;
    background: rgba(0, 0, 0, 0.9);
    cursor: default;
}


.flex-control-paging li a{
  background: #999 !important
}


.metaslider .caption-wrap{
	background: none !important;

}

.metaslider .caption-wrap .jumbotron{
	background: none !important;
}


