/***********************************************************************************************
DOCUMENT-WIDE
***********************************************************************************************/

.center{
   text-align: center;
}


.gibson-light{
   font-weight: 300;
}

.jumbotron{
   margin: 0;
   padding: 0;
   background: #fff;
}

.padding{
   padding: 30px;
}

.col-md-2{
   background: #fff;
   text-align: center;
}

/* home and navs use this vertical-center. To see the vertical-center used in the interior pages, go 
to assets/css/document-wide/main-image */

.vertical-center{
   min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
   display: flex;
   align-items: center;
}

body, h1, h2, h3, h4, h5, h6, p, a, strong, label, center{
   font-family: "canada-type-gibson", sans-serif;
}

label{
   font-weight: 200;
}

a, a:hover{
   color: inherit;
}
