/***********************************************************************************************
FOOTER
***********************************************************************************************/

#footer{
	background: #144c87;
	color: #fff;
	height: 420px;
}

.footer .col-md-4 h2{
	letter-spacing: 0.05em;
	text-transform: uppercase;
   	margin-top: 0;
}

.footer .col-md-4{
	margin-top: 60px;
}


#blue-border{
	border-left: 1px solid #4874a3;
	border-right: 1px solid #4874a3;
	height: 50%;

}

.blue-bottom-of-footer{
	position: absolute;
	bottom: 0;
	left: 0;
	margin-top: 15px;
	height: auto;
	width: 100%;
	padding: 10px;
	background: #0a3766;
}

.blue-bottom-of-footer p{
	letter-spacing: 0.1em;
	margin-top: 10px;
	font-size: 12px;
}


.footer .col-md-4 .container ul li{
	list-style: none;
	text-align: left;
}

.footer .col-md-3 {
	text-align: right;
	width: 10%;

}

.footer .fa-facebook{
	padding: 0px;
}

.footer .fa-yelp{
	padding-left: 10px;
}

.fa{
	font-size: 25px;
}

#middle-footer-text{
	line-height: 2em;
	padding: 0px 30px;

}

#middle-footer-header{
	padding: 0px 30px;
}


.footer .nav li a{
	padding: 7;
	text-shadow: none;
}

.footer .nav li:hover a{
	background: none !important;
} 

.footer h2{
	font-size: 20px !important;
}

.footer .nav li a{
	padding: 10px 10px 0 0;
}

.footer a{
	outline: none;
}

.footer p{
	font-size: 15px !important;
}

.footer .col-md-12, .footer .col-md-3, .footer .col-md-6{
	padding: 0;
	text-align: left;
}

.footer .col-md-12{
	width: 70%;
	margin-left: 80px;
}

#connect-with-us-header{
	margin-left: 80px;
}