/***********************************************************************************************
FOOTER
***********************************************************************************************/

@media screen and (max-width: 1000px) {

	#footer{
		height: 1200px;
	}

	#body {
	   margin-top: 70px;
	   padding-bottom: 1210px;   /* Height of the footer + some room */

	}

	.footer .col-md-4 h2{
	   	margin-top: 20px;
	}

	.footer .col-md-4{
		margin-top: 20px !important;
		margin-bottom: 60px;

	}

	#blue-border{
		border-left: none;
		border-right: none;
		height: inherit;

	}

	.width, .col-md-4{
		width: 100%;
		text-align: center;
	}

	.footer .fa.fa-facebook, .fa.fa-twitter {
	    width: 10%;

	}


	#footer-title{
		text-align: center;
		margin-top: 60px;
	}

	.container{
		width: 100%;
	}

	.footer .fa-envelope, .fa-phone-square, .fa-location-arrow{
		text-align: center !important;
		width: 100% !important;
		padding: 10px;
		font-size: 25px;
	}
	
	.footer .col-md-3{
		width: 100%;
	}

	#connect-with-us-header{
		margin-left: 0;
	}
	
	.footer .col-md-9{
		text-align: center;
	}
	
	#middle-footer-text{
		margin: 20px;
	}
	
	.footer .col-md-12{
		width: 100%;
		margin-left: 0;
	}
	
	#site-map{
		padding-top: 20px;
	}
	
	.footer .col-md-6{
		text-align: center;
	}


}