@media screen and (max-width: 1000px) {

	.form-margin{
		width: 90%;
	}

	input.wpcf7-form-control{
		width: 100%;
	}

	input[type="submit"].wpcf7-form-control{
		width: 20%;
		margin-bottom: 40px;
	}



}


