@media screen and (max-width: 1000px) {


	#proud-partners{
	   font-size: 15px;
	}

	.desktop-brands{
		display: none;
	}

	.mobile-brands{
		display: block;
	}

	.col-md-6{
		text-align: center;
	}

	.col-md-6 img{
		margin: 20px;
	}
	
	img.triple-a{
   	width: 50px !important;
}

img.usaa{
   	width: 50px;
}

img.farmers{
	width: 50px;
}

img.allstate{
    width: 80px;
}

img.nationwide{
    width: 100px;
}

.state-farm{
	width: 110px !important;
}


}