@media screen and (max-width: 1000px) {

	.light-gray-read-more{
		padding: 40px;
	}

	.circle-background-text{
		line-height: 1.5em;
		padding: 0px;
		margin-bottom: 0;

	
	}
	
	#ethical-and-friendly{
		line-height: 1.5em;
	}
	
	.long-text-logo-background{
		padding: 10px;
	}

}