@media screen and (max-width: 1000px) {
	.jumbotron.car-desktop {
	    display: none;
	}

	.car-mobile{
		display: flex !important;
	}
	
	.car-mobile a h1{
		font-size: 20px !important;
	}

	#mobile .vertical-center{
		min-height: 50%;
		margin: 30px 0 5px 0;
	}

}

