.ow{
    i{
        font-weight: 100;
    }
    
    
}

.ow-car-photo{
        width: 100% !important;
        height: 50% !important;
        background-size: cover !important;
        background-position: center !important;
        margin-bottom: 20px !important;
        border-radius: 0 !important;
    }
    
.before-after{
    margin-bottom: 20px;
}